{% extends "layouts.html" %}

{%block body%}
    <h1 id="header" class="text-center font-weight-light">
        Four Year Plan at Rutgers University - New Brunswick
    </h1>
<div class="container">
    <div class="row">
        <h3>
            Freshman year
        </h3>
    </div>
    <div class="row">
        <table class="table table-striped col">
            <tr>
            <th>Fall</th>
            <th>Grade</th>
            </tr>
            <tr>
            <td>Honors Calculus 1</td>
            <td>B+</td>
            </tr>
            <tr>
                <td>Arabic 1</td>
                <td>A</td>
            </tr>
            <tr>
                <td>Statistics 1</td>
                <td>A</td>
            </tr>
            <tr>
                <td>Exposition and Argument</td>
                <td>B</td>
            </tr>
            <tr>
                <td>Honors College Forum</td>
                <td>A</td>
            </tr>
        </table>
        <table class="table table-striped col">
            <tr>
                <th>Spring</th>
                <th>Grade</th>
            </tr>
            <tr>
                <td>Calculus 2</td>
                <td>B+</td>
            </tr>
            <tr>
                <td>Arabic 2</td>
                <td>B</td>
            </tr>
            <tr>
                <td>Gods, Myths, and Religions in a Secular Age</td>
                <td>A</td>
            </tr>
            <tr>
                <td>Intro to Computer Science</td>
                <td>A</td>
            </tr>
            <tr>
                <td>Byrne Seminar</td>
                <td>A</td>
            </tr>
        </table>
    </div>
    <div class="alert alert-warning row" role="alert">
        *Because of the Coronavirus pandemic of 2020 some of my grades in the Spring semester may appear as Passing
    </div>
    <div class = "row justify-content-end">
        <b>Cumultive GPA: </b> 3.79
    </div>
    <div class="row">
        <h3>
            Sophomore year
        </h3>
    </div>
    <div class="row">
        <table class="table table-striped col">
            <tr>
            <th>Fall</th>
            <th>Grade</th>
            </tr>
            <tr>
            <td>Data Structures</td>
            <td>N/A</td>
            </tr>
            <tr>
                <td>Intro to Financial Accounting</td>
                <td>N/A</td>
            </tr>
            <tr>
                <td>Intro to Discrete Structures</td>
                <td>N/A</td>
            </tr>
            <tr>
                <td>Intermediate Micro-Analysis</td>
                <td>N/A</td>
            </tr>
            <tr>
                <td>Intermediate Macro-Analysis</td>
                <td>N/A</td>
            </tr>
        </table>
        <table class="table table-striped col">
            <tr>
                <th>Spring</th>
                <th>Grade</th>
            </tr>
            <tr>
                <td>Computer Architecture</td>
                <td>N/A</td>
            </tr>
            <tr>
                <td>Intro to Discrete Structures</td>
                <td>N/A</td>
            </tr>
            <tr>
                <td>Probability Theory</td>
                <td>N/A</td>
            </tr>
            <tr>
                <td>Intro to Linear Algebra</td>
                <td>N/A</td>
            </tr>
            <tr>
                <td>Interdisclipinary Honors Seminar</td>
                <td>N/A</td>
            </tr>
        </table>
    </div>
</div>
{%endblock%}