<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        #main:any-link {
            color: rgb(67, 75, 75);
            text-decoration: none;

        }
    </style>
    <head>
        <title>My Webpage</title>
    </head>
    <div>
        <div class="container-fluid">
            <div class="row">
                <h1 class="col">
                    <a href = "index.html" id = "main">Ali Khan</a>
                </h1>
                <h4 class="text-right font-weight-light">
                    <a href="contact.html" id="main">Contact!</a>
                </h4>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="biography.html">Biography</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="4year.html">four year plan</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Professional.html">Professional</a>
                  </li>
                <li class="nav-item">
                    <a class = "nav-link" href="pictures.html">pictures</a>
                </li>
              </ul>
            </div>
        </nav>
        {% block body %}{% endblock %}
    </div>
</html>